@font-face {
  font-family: "iconfont"; /* Project id 3430103 */
  src:  url('https://at.alicdn.com/t/font_3430103_f8cjztkl1vb.woff2') format('woff2'),
        url('https://at.alicdn.com/t/font_3430103_f8cjztkl1vb.woff') format('woff'),
        url('https://at.alicdn.com/t/font_3430103_f8cjztkl1vb.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yongyan:before {
  content: "\e600";
}

.icon-scan:before {
  content: "\e689";
}

.icon-add:before {
  content: "\e6da";
}

.icon-locked:before {
  content: "\e606";
}

.icon-share:before {
  content: "\e6a5";
}

.icon-wodekefu:before {
  content: "\e68b";
}

.icon-cube:before {
  content: "\e935";
}

.icon-topic:before {
  content: "\e620";
}

.icon-mine:before {
  content: "\e62f";
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-huanyihuan:before {
  content: "\e653";
}

.icon-rmb:before {
  content: "\eb1e";
}

.icon-comment:before {
  content: "\e636";
}

.icon-like:before {
  content: "\e813";
}

.icon-search:before {
  content: "\e82e";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-record:before {
  content: "\e62d";
}

.icon-message:before {
  content: "\e604";
}

.icon-about:before {
  content: "\e60b";
}

.icon-guanzhu:before {
  content: "\e6c4";
}

.icon-copy:before {
  content: "\e8b0";
}

.icon-huatifuhao:before {
  content: "\e8b1";
}

.icon-set:before {
  content: "\e8b7";
}

.icon-arrow-left:before {
  content: "\e743";
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-home:before {
  content: "\e674";
}

.icon-discovery:before {
  content: "\e84c";
}

.icon-danpin:before {
  content: "\e66c";
}

